<nav>
  <ul>
    <li>
      <a routerLink="/">Home</a>
    </li>

    <li>
      <a [routerLink]="['/visitor']">Page Visiteur</a>
    </li>

    <li *ngIf="userInfo.username">
      <a [routerLink]="['/user']">Page Utilisateurs connectés</a>
    </li>

    <li *ngIf="userInfo.roles && userInfo.roles.includes('ROLE_ADMIN')">
      <a [routerLink]="['/admin']">Page ADMIN</a>
    </li>

    <li *ngIf="userInfo.roles && userInfo.roles.includes('ROLE_USER')">
      <a [routerLink]="['/profile']">Ma page profil</a>
    </li>

    <li *ngIf="!userInfo.username">
      <a routerLink="/signup">M'inscrire</a>
    </li>

    <li *ngIf="!userInfo.username">
      <a routerLink="/login">Me connecter</a>
    </li>
  </ul>
</nav>
<app-logout *ngIf="isLoggedIn"></app-logout>
<p *ngIf="userInfo.username">Bienvenue {{ userInfo?.username }} !</p>
<router-outlet></router-outlet>
